#title {
    padding: 10px;
    color: #464646;
}
body {
    background: rgba(95, 65, 123, 0.52);
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
